@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Coffee & Cream</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Register</h1>
<!--How to create a link to a another webpage that you are creating (with current webpage), but do not know the actual path-->
<p>Please Click to <a asp-controller="Home" asp-action="Registration">Register</a></p>

