
@{
    ViewData["Title"] = "InvalidPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>InvalidPassword</h1>

<p>Password needs to have Uppercase and Lower case letters along with numbers. No special characters are needed.</p>

