
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registration</h1>

<form asp-controller="Home" asp-action="MakeNewUser">
    @*Username*@
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" name="Username" />
    </div>
    @*First Name*@
    <div class="form-group">
        <label>First Name</label>
        <input class="form-control" type="text" name="FirstName" />
    </div>
    @*LAst Name*@
    <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" type="text" name="LastName" />
    </div>
    @*Email*@
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="Email" />
        @*Type is email to make sure there is an @ in the email. It can be used as a type of Validation*@
    </div>
    @*Password*@
    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" name="Password" />
    </div>
    @*<div class="form-group">
        <label>Confirm Password</label>
        <input type="text" class="form-control" id="confirmPassword" name="confirmPassword" />
    </div>*@
    @*Phone Number*@
    <div class="form-group">
        <label>Phone Number</label>
        <input type="tel" class="form-control" name="PhoneNumber" />
        @*type is tel, which is for telephone number. it can be used for Validation.*@
    </div>
    @*Gender*@
    <div class="form-group">
        <label>Gender</label><br />
        <input type="radio" name="Gender" value="Male" id="gender" />
        <label for="gender">Male</label><br />
        <input type="radio" name="Gender" value="Female" id="gender" />
        <label for="gender">Female</label><br />
        <input type="radio" name="Gender" value="Other" id="gender" />
        <label for="gender">Prefer Not to Answer</label>
    </div>
    @*Date of Birth*@
    <div class="form-group">
        <label>Date of Birth</label>
        <input type="date" name="Birthday"/>
    </div>
    @*Recieve emails*@
<div class="form-group">
    <lablel>Would you like to receive emails</lablel><br />
    <input type="radio" name="RecieveEmails" value="true" id="recieveEmails" />
    <label for="receiveEmails">Yes, I would like to recieve emails, which can include special coupons. </label><br />
    <input type="radio" name="RecieveEmails" value="false" id="noEmails" />
    <label for="noEmails">No, I would not like any emails.</label>
</div>
    @*Submit Button*@
    <div class="form-group">
        <input type="submit" class="form-control btn btn-primary" />
    </div>
</form>

<!--   
<form asp-controller="Home" asp-action="Registration">
    <input type="text" pattern="" />

    <input type="submit" />
</form>
-->


@*<script>
    function Validate() {
		//console.log to know I'm entering this function
		//console.log("Validate Function");

		console.log("grab name input");
		//grab the first input id="Name"
		//use query selector to grab the value from my input
		var name = document.querySelector("#Name").value;
		//var name = documeny.getElementByID("Name")

		console.log(name);

		//grab the second input id="ConfirmName"
		console.log("ConfirmName");
		var confirmname = document.querySelector("#ConfirmName").value;

		console.log(confirm)

		//if names match, return true, allowing form submission
		if (name === confirmName) {
			console.log("return true");
			return true;
		}
		else {
			console.log("return false");
			return false;
		}
</script>*@